 @font-face {
            font-family: 'SFR';
            src: url('../static/fonts/SF-Pro-Display-Regular.otf') format('opentype');
        }

        #date {
            font-family: 'SFR', sans-serif;
            font-size: 50pt;
            margin-top: 50px;
        }

        .formatted-date {
            font-weight: 700;
        }

        .current-year {
            font-weight: 100;
            color: #4d4d4d
        }

        body {
            margin: 0;
            font-family: 'SFP', sans-serif;
        }

        #top-bar {
            color: black;
            text-align: left;
            margin: 20px 20px 0px 20px;
        }

        #account {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .username {
            margin-right: 10px;
        }

        #calendar {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: right;
            margin-top: 10px;
        }

        .name .weekend {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            padding: 5px;
            font-weight: 500;
        }

        .weekend {
            font-weight: 100;
            color: #4d4d4d;
        }

        #weekdays {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 1px;
            margin: 20px 20px -10px 20px;
            text-align: center;
        }

        #month-view {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 1px;
            margin: 20px;
            border-left: 1px solid #ddd;
            border-top: 1px solid #ddd;
        }

        .day,
        .current-day {
            width: 100%;
            padding: 10px;
            cursor: pointer;
            box-sizing: border-box;
            position: relative;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }

        .day .day-text,
        .current-day .day-text {
            position: absolute;
            top: 10px;
            left: 10px;
            text-align: right;
            line-height: 1.5;
        }

        .current-day {
            background-color: #ffc299;
            height: 0;
            padding-bottom: 100%;
            position: relative;
            font-weight: 500;
        }

        #month-view .day:nth-child(6),
        #month-view .day:nth-child(7),
        #month-view .day:nth-child(13),
        #month-view .day:nth-child(14),
        #month-view .day:nth-child(20),
        #month-view .day:nth-child(21),
        #month-view .day:nth-child(27),
        #month-view .day:nth-child(28),
        #month-view .day:nth-child(34),
        #month-view .day:nth-child(35) {
            background-color: #f2f2f2;
            color: #404040;
        }

        .calendar-grid {
            border: 2px solid #333;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 5px;
            margin: 20px;
        }

        #habit-tracker {
            width: 100%;
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #f5f5f5;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #habit-tracker h2 {
            color: #333;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .tracker-container {
            width: 80%;
            margin: 40px auto;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            box-sizing: border-box;
        }

        header h1 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

        header {
            position: relative;
        }

        .habit-tracker {
            width: 100%;
            border-collapse: collapse;
        }

        .habit-tracker thead th {
            background-color: #f9f9f9;
            color: #333;
            padding: 10px;
            text-align: left;
        }

        .habit-tracker th,
        .habit-tracker td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        input[type="checkbox"] {
            cursor: pointer;
        }

        .habit-tracker td {
            text-align: center;
        }

        .progress {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: #eff8eb;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: #4CAF50;
            margin: auto;
        }

        .addHabitButton {
            position: absolute;
            top: 20px;
            right: 20px;
            align: right;
            text-decoration: none;
            background-color: #28a745;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 8px;
            cursor: pointer;
        }

        /*#back-button {
            position: flex;
            top: 20px;
            left: 20px;
            align: left;
            text-decoration: none;
            background-color: #28a745;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 8px;
            cursor: pointer;
        }*/

        #addHabitModal {
            display: none; /* Initially hide the modal */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        }

        .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 20px;
            color: #555;
        }

        .alert {
            color: red;
        }

        h1 {
            margin-top: 10px;
            margin-bottom: 10px;

        }

        .to-do-head {
            /*text-align: center;
            background-color: #4ad065;
            color: white;
            /*margin-right: 40%;*/
            /*margin-left: 40%;*/
            /*border: none;
            border-radius: 8px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            font-size: 30px;
            margin-bottom: 10px;*/
            font-family: 'SFR', sans-serif;
            font-size: 15pt;
        }

        .to-do {
            /*text-align: center;
            background-color: #dfeae7;
            margin-right: 15%;
            margin-left: 15%;
            border: none;
            border-radius: 8px;
            margin-bottom: 40px;*/
            text-align: center;
            width: 80%;
            margin: 40px auto;
            background-color: #fff;
            /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
            padding: 20px;
            box-sizing: border-box;
            border: none;
            border-radius: 8px;

        }

        .to-do form {
            /*display: flex;*/
            flex-direction: row;
            align-items: center;
        }

        .description {
            box-sizing: border-box;
            width: 30.4%;
            padding:10px;
            border:0;
            box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
        }

        .datefield {
            box-sizing: border-box;
            width: 10%;
            padding:8px;
            border:0;
            box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
        }

        .field {
            box-sizing: border-box;
            padding:10px;
            border:0;
            box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
            width: 20%;
            martgin-right: 15px;
        }

        .to-do, .field, .datefield, .field{
            margin-bottom: 10px;
        }

        h2 {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .task-container {
            display: flex;
            justify-content: space-between;
        }

        .t-tasks-header{
            text-align: center;
            background-color: #4ad065;
            color: white;
            border: none;
            border-radius: 8px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            font-size: 30px;
            margin-bottom: 10px;
        }

        .r-tasks-header{
            text-align: center;
            background-color: #4ad065;
            color: white;
            border: none;
            border-radius: 8px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            font-size: 30px;
            margin-bottom: 10px;
        }

        .tasks{
            background-color: #c0bdbd;
            border: none;
            border-radius: 8px;
            margin-bottom: 10px;
            width: 90%;
            margin-left: 5%;
        }

        .t-tasks, .r-tasks {
            text-align: center;
            background-color: #f5f5f5;
            border: none;
            width: 40%;
            border-radius: 8px;
            height: 500px;
            overflow-y: auto;
        }
        .t-tasks {
            margin-right: 3%;
            margin-left: 15%;

        }

        .r-tasks{
            margin-right: 15%;
            margin-left: 3%;
        }

        .task-title{
            background-color: #676767;
            font-size: 25px;
            text-align: left;
            color: white;
            padding-left: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .task-d {
            text-align: left;
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 5px;
            padding-bottom: 10px;
            text-align: justify;
        }
        p {
            margin: 0;
        }
        .task-day{
            background-color: #569461;
            font-size: 25px;
            color: white;
            padding-left: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .tasks-button{
            text-decoration: none;
            background-color: #28a745;
            color: #fff;
            border:0;
            box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
            padding: 8px 16px;
            border-radius: 8px;
            cursor: pointer;
            margin: 10px;
        }

        .delete-button {
            background-color: #ff0000;
            color: #ffffff;
            font-weight: bold;
            border: none;
            width: 25px;
            height: 25px;
            font-size: 17px;
        }

        .nested-table {
            border: none !important;
            width: 100%;
        }

        .nested-td {
            border: none !important;
            text-align: center !important;
            display: flex;
            justify-content: space-between;
        }

        .habit {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            text-align: center;
        }

        .goal-days {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 15px;
            background-color: #abcdef;
        }

        .goalColumn {
            width: 150px;
        }

        #weektitle {
            font-family: 'SFR', sans-serif;
            font-size: 35pt;
        }

        .dark-mode {
            background-color: #121212;
            color: #ffffff;
        }
        
        .dark-mode #date {
            color: #ffffff;
        }
        
        .dark-mode .to-do, .dark-mode .task-container, .dark-mode .tracker-container {
            background-color: #1e1e1e;
            color: #ffffff;
        }
        
        .dark-mode .tasks, .dark-mode .habit-tracker, .dark-mode .to-do-head, .dark-mode .t-tasks-header, .dark-mode .r-tasks-header {
            background-color: #2c2c2c;
            color: #ffffff;
        }
        
        .dark-mode .tasks-button, .dark-mode .addHabitButton, .dark-mode .logout-button {
            background-color: #4CAF50;
        }
        
        .dark-mode .tasks-button:hover, .dark-mode .addHabitButton:hover, .dark-mode .logout-button:hover {
            background-color: #3c8d40;
        }
        
        .dark-mode .day, .dark-mode .current-day {
            border-color: #444;
        }
        
        .dark-mode .current-day {
            background-color: #ff8c66;
        }
        
        .dark-mode #habit-tracker {
            border-color: #333;
        }
        
        .dark-mode .habit-tracker thead th {
            background-color: #333;
        }
        
        .dark-mode .nested-td, .dark-mode .goal-days {
            background-color: #3a3a3a;
        }
        
        .dark-mode .progress {
            background-color: #3c8d40;
        }

        .dark-mode .tracker-container, .dark-mode #habit-tracker {
            background-color: #262626;
            color: #ffffff;
        }
        
        .dark-mode .habit-tracker th, .dark-mode .habit-tracker td {
            border-color: #3a3a3a;
        }
        
        .dark-mode .habit-tracker thead th {
            background-color: #333333;
            color: #ffffff;
        }
        
        .dark-mode .habit-tracker tbody tr:nth-child(even) {
            background-color: #303030;
        }
        
        .dark-mode .habit-tracker tbody tr:hover {
            background-color: #383838;
        }
        
        .dark-mode .habit-tracker .habit-name, .dark-mode .habit-tracker .goal-days {
            color: #dddddd;
        }
        
        .dark-mode .habit-tracker .progress {
            background-color: #4CAF50;
            color: #ffffff;
        }
        
        .dark-mode .addHabitButton, .dark-mode .habit-tracker .delete-button {
            background-color: #444;
            color: #ffffff;
        }
        
        .dark-mode .addHabitButton:hover, .dark-mode .habit-tracker .delete-button:hover {
            background-color: #555555;
        }
        .dark-mode .modal-content {
            background-color: #2c2c2c;
            color: #ddd;
        }
        
        .dark-mode .modal-content label {
            color: #ddd;
        }
        .dark-mode .username {
            color: white;
        }
        
        .logout-button, .profile-button, .toggle-dark-mode, #back-button{
            background-color: #28a745;
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s, box-shadow 0.2s;
            outline: none;
            font-size: 1rem;
            text-decoration: none;
        }

        
        .profile-button:hover, .logout-button:hover, .toggle-dark-mode:hover, #back-button:hover {
            background-color: #3c8d40;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
        
        .profile-pic-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        
        img.profile-pic {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
        }

        .flash-messages {
            position: fixed;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
            width: auto;
            padding: 10px;
            text-align: center;
        }
        
        .alert {
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
            color: white;
            background-color: green;
            display: inline-block;
        }
