<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
    <title>BetterToDo</title>
    <style>

    </style>
</head>

<body>

    <div id="top-bar">
        <div id="date">
            <span class="formatted-date">{{ formatted_date }}</span>
            <span class="current-year">{{ current_year }}</span>
        </div>
        <div id="account">
            {% if username %}
            <span class="username">Welcome, {{ username }}!</span>
            <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
            {% endif %}
        </div>
    </div>

    <div id="calendar">
        <div id="weekdays">
            <div class="name">Mon</div>
            <div class="name">Tue</div>
            <div class="name">Wed</div>
            <div class="name">Thu</div>
            <div class="name">Fri</div>
            <div class="weekend">Sat</div>
            <div class="weekend">Sun</div>
        </div>
        <div id="month-view">
            {% for week in calendar_data.days_in_month %}
            {% for day in week %}
            {% if day %}
            {% if day == calendar_data.current_day %}
            <div class="day current-day">{{ day }}</div>
            {% else %}
            <div class="day">{{ day }}</div>
            {% endif %}
            {% else %}
            <div class="day"></div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div id="habit-tracker">
        <h2>Habit Tracker</h2>
        <p>Placeholder pod habit tracker. Trzeba zrobić tabelkę miesięczną, sposób dodawania habitów, check boxy itd.</p>
    </div>
    <div class="tracker-container">
        <header>
            <h1>Week 01</h1>
        </header>
        <table class="habit-tracker">
            <thead>
                <tr>
                    <th>Habit</th>
                    <th>Goal</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Exercise</td>
                    <td>5 days/week</td>
                    <td><input type="checkbox" class="exercise" ></td>
                    <td><input type="checkbox" class="exercise" ></td>
                    <td><input type="checkbox" class="exercise" ></td>
                    <td><input type="checkbox" class="exercise" ></td>
                    <td><input type="checkbox" class="exercise"></td>
                    <td><input type="checkbox" class="exercise"></td>
                    <td><input type="checkbox" class="exercise"></td>
                    <td class="progress exercise-progress">0%</td>
                </tr>
                <tr>
                    <td>Read</td>
                    <td>3 days/week</td>
                    <td><input type="checkbox" class="read"></td>
                    <td><input type="checkbox" class="read" ></td>
                    <td><input type="checkbox" class="read"></td>
                    <td><input type="checkbox" class="read" ></td>
                    <td><input type="checkbox" class="read"></td>
                    <td><input type="checkbox" class="read"></td>
                    <td><input type="checkbox" class="read" ></td>
                    <td class="progress read-progress">0%</td>
                </tr>
                <tr>
                    <td>Meditate</td>
                    <td>6 days/week</td>
                    <td><input type="checkbox" class="meditate" ></td>
                    <td><input type="checkbox" class="meditate" ></td>
                    <td><input type="checkbox" class="meditate" ></td>
                    <td><input type="checkbox" class="meditate" ></td>
                    <td><input type="checkbox" class="meditate" ></td>
                    <td><input type="checkbox" class="meditate" ></td>
                    <td><input type="checkbox" class="meditate"></td>
                    <td class="progress meditate-progress">0%</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="../static/script.js"></script>
</body>

</html>